#carousel {
  padding-top: 15px;
  padding-bottom: 20px;
}

.carouselItem {
  flex: 0 0 100%;
  padding: 20px;
  width: 260;
  transition: transform 0.3s ease-in-out;
  position: relative; /* Add position relative to respect its parent container */
  padding-left: 20%;
  padding-right: 20%;

  @include breakpoint-up(medium) {
    flex: 0 0 calc(100% / 3);
    padding-left: 2%;
    padding-right: 2%;
  }
  
  @include breakpoint-up(large) {
    flex: 0 0 calc(100% / 5);
    padding-left: 2%;
    padding-right: 2%;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.carouselHeader {
  color: white;
  z-index: 1;
  justify-content: center;
  display: flex;
  position: absolute;
  text-align: center;
  font-size: large;
  font-weight: bold;
  margin-bottom: 5px;
  overflow-x: auto;
  background-color: black;
}

.carouselImg {
  transition: flex 0.3s ease-in-out;
  border-radius: 15px;
  display: flex;
  width: 100%;
  height: 300px;
  object-fit: cover;
  overflow-x: auto;
  border: 3px solid black;
}


.carouselItem:hover .carouselBody,
.carouselItem:hover .carouselLink {
  opacity: 1;
}



.carouselBody {
  z-index: 2;
  justify-content: right;
  justify-content: space-between;
  top: 15%;
  display: flex;
  position: absolute;
  font-size: medium;
  background-color: black;
  color: white;
  font-size: large;
  opacity: 0; /* Set the initial opacity to 0 */
  transition: all 500ms ease-in-out;
  &:hover{
    opacity: 1;
  }
}

.carouselLink {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 500ms ease-in-out;
  &:hover{
    opacity: 1;
  }


}



.carouselArrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
  
.carouselArrows button {
  font-size: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
}
  
.carouselArrows button:hover {
  color: #007bff;
}
