#carousel {
  padding-top: 15px;
  padding-bottom: 20px;
}

.carouselItem {
  flex: 0 0 100%;
  padding: 10px;
  transition: transform 0.3s ease-in-out;
  position: relative; /* Add position relative to respect its parent container */
  
  @include breakpoint-up(medium) {
    flex: 0 0 calc(100% / 3);
  }
  
  @include breakpoint-up(large) {
    flex: 0 0 calc(100% / 5);
  }

  &:hover {
    transform: scale(1.1);
  }
}
  
.carouselHeader {
  z-index: 1;
  justify-content: center;
  display: flex;
  position: absolute;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  overflow-x: auto;
  background-color: rgba(0, 0, 0, 0.1);
  width: 91%;
}

.carouselImg {
  transition: flex 0.3s ease-in-out;
  border-radius: 15px;
  display: flex;
  max-width: 100%; /* Set maximum width to prevent it from extending beyond the container */
  height: auto;
  overflow-x: auto;

  &:hover {
    filter: blur(1px);
  }
}
  
.carouselArrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
  
.carouselArrows button {
  font-size: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
}
  
.carouselArrows button:hover {
  color: #007bff;
}
