html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: $grayishBlue;
  font-family: 'Public Sans', sans-serif;
  font-size: small;
  font-weight: 300;
  line-height: 1.3;
  overflow-x: hidden;
  height: auto;

  @include breakpoint-up(medium) {
    font-size: medium;
  }
  @include breakpoint-up(large) {
    font-size: large;
  }
  &.noscroll {
    overflow: hidden;
  }
}

a.reasons__item {
  text-decoration: underline;
  text-decoration-color: black;
}



.container {
  max-width: 75rem;
  margin: 0 auto;
  overflow: hidden;

  &--pContent {
    line-height: 2;
    padding: 2%;
    @include breakpoint-up(large) {
      padding: 5%;
    } 
  }
  &--horizontalPad {
    padding-left: 2%;
    padding-right: 2%;
    
    @include breakpoint-up(large) {
      padding-left: 5%;
      padding-right: 5%;    } 
  }
}




.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-ai-c {
    align-items: center;
  }

  &-jc-c {
    justify-content: center;
  }
  &-fd-c{
    flex-direction: column;
  }
  &-jc-sa {
    justify-content: space-around;
  }
}

.btn {
  background-color: black;
  color: #f4f4f4;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 14px 40px;
  font-size: 16px;
  border: 3px solid $grayishBlue;
  cursor: pointer;
}

.doubleSpaced {
  line-height: 2;
}

.indent {
  padding-left: 4%;
  @include breakpoint-up(large) {
    padding-left: 7%;
  }
}



.content {
  line-height: 2;
  padding: 2%;
  @include breakpoint-up(large) {
    padding: 5%;
  } 
}

.hide-for-small {
  @include breakpoint-down(small){
    display: none;
  }
}

.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.thickLine {
  width: 90%;
  height: 5px; /* Increase the height to make the line thicker */
  background-color: black;
  margin: 0 auto;
}

.dividingLine {
  display: inline-block;
  padding: left 5%;
  width: 100%;
  height: 8px;
  background-color: black;
  border-radius: 2.5px; /* Half of the height to create rounded ends */
}



.dashedLine {
  border: 1px dashed black; /* Add a dashed border style */
}


.uniformPadding {
  padding: 50px; /* Adjust the value as needed */
}