.tabs {
  background-color: gray;
  display: block;
  transition: all 500ms ease-in-out;
  height: $headerHeightMinimized;
  // visibility: hidden;
  position: fixed;
  top: 0px;
  width: 100%;

}


  
.header {
  z-index: 100;
  width: 100%;
  // background-color: rgb(123, 198, 147);
  background-color: $brightCyan;


  transition: all 500ms ease-in-out;
  height: $headerHeightMinimized;
  border-radius: 15px;
  border: 3px solid black;

  @include breakpoint-up(large) {
    height: $headerHeightFullScreen;
  }

  &.open {
    width: 100%;

    .header__toggle {
      > span:first-child{
        transform: rotate(42deg);
      }

      >span:nth-child(2) {
        opacity: 0;
      }
      
      >span:last-child {
        transform: rotate(-42deg);
      }
    }
  }
  &.close {
    width: 100%;
    .header__toggle {
      > span:first-child{
        transform: rotate(0deg);
      }

      >span:nth-child(2) {
        opacity: 1;
      }
      
      >span:last-child {
        transform: rotate(0deg);
      }
    }
  }

  //hambuger menu background
  // .overlay {
  //   opacity: 0;
  //   position: fixed;
  //   top: 0px;
  //   right: 0px;
  //   bottom: 0px;
  //   left: 0px;
  //   background-image: linear-gradient($darkBlue, transparent);
  // }

  &__menu {
    position: fixed;
    width: 95%;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: $lightGreen;
    margin-top: 1.5rem;
    padding: 1.625rem;
    border-radius: 5px;
    border: 3px solid black;

    a {
      display: block;
      padding: 0.625rem;
      color: $darkBlue;
      text-align: center;
    }
  }


  &__toggle { // Mobile Menu Toggle
    > span {
      display: block;
      width: 40px;
      height: 5px;

      //block color
      background-color: black;

      //animation time
      transition: all 300ms ease-in-out;

      //axis of rotation
      transform-origin: 5px 2px;

      //separation between the lines
      &:not(:last-child){
        margin-bottom: 5px;
      }
    }
  }
}

.disable-transition {
  transition: none !important;
}



.sticky {
  position: sticky;
  top: 0;
  width: 100%;
}
  
