
.introductionContainer {
    display: flex;
    justify-content: space-between;
    @include breakpoint-down(small){
        flex-direction: column;
    }
    padding-bottom: 10px;
}


  
.contactContainer {
    width: 100%;
    padding: 2%;
    height: 200px;
    background-image: linear-gradient($lightGreen, transparent);

    color: black;
    padding: auto;
}

.coverImgContainer {
    width: 50%;
    height: auto;
    padding: 2%;
    max-width: 400px;
    @include breakpoint-down(small){
        width: 75%;
    }

}
  
  
.coverImg {
transition: flex 0.3s ease-in-out;
border-radius: 15px;
display: flex;
align-items: center;
width: 100%;
height: auto;
object-fit: cover;
overflow-x: auto;
border: 3px solid black;
}