
$headerHeightFullScreen: 5rem;
$headerHeightMinimized: 4rem;

$skillFlexHeight: 45px;


$medium-breakpoint-up: 40em;
$large-breakpoint-up: 64em;
$xlarge-breakpoint-up: 87.5em;
$small-breakpoint-down: 39.9375em;
$medium-breakpoint-down: 63.9375em;
$large-breakpoint-down: 87.4375em;


:root {
    --medium-breakpoint-up: #{$medium-breakpoint-up};
    --large-breakpoint-up: #{$large-breakpoint-up};
    --xlarge-breakpoint-up: #{$xlarge-breakpoint-up};
    --small-breakpoint-down: #{$small-breakpoint-down};
    --medium-breakpoint-down: #{$medium-breakpoint-down};
    --large-breakpoint-down: #{$large-breakpoint-down};
}

// Colors
$darkBlue: hsl(233, 26%, 24%);
$lightGreen:  rgb(74, 191, 138);
$brightCyan: hsl(46, 84%, 71%);
$darkGrey: rgb(79, 79, 92);
$grayishBlue: hsl(0, 0%, 90%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// Font Sizes
$font-sm: 0.875rem;  // 16px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem;   // 20px
$font-xlg: 3.25rem;